{% extends 'base.html' %}

{% block content %}
    <table class="table table-responsive m-4">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td><input type="number" value="{{ item.quantity }}"></td>
                <td>{{ item.timestamp }}</td>
                <td><a class="btn btn-danger" href="/cart/remove-from-cart/{{ item.product.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td>tota</td>
            <td>{{ total_price }}</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

{% endblock %}

