<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/products/list/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'products:list' %}">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == '/cart/my-cart/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'cart:my_cart' %}">My Cart <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == '/products/create/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'products:create' %}">New Product</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right mr-5">
                <li class="dropdown mr-5">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.user }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                        <li><a class="dropdown-item" href="{% url 'accounts:change_password' %}">change password</a>
                        </li>
                    </ul>
                </li>
            </ul>

        {% endif %}
    </div>
</nav>