<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/products/list/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'products:list' %}">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == '/cart/my-cart/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'cart:my_cart' %}">My Cart <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == '/products/create/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'products:create' %}">New Product</a>
            </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{request.user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                    <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                 {% include 'snippets/notifications.html' %}
            </li>
        {% endif %}
        </ul>
    </div>
</nav>