{% block content %}
    {% if not comment.is_child %}
        <div class="card small m-2" style="width: 35rem;">
            <div class="card-body">
                <h5 class="card-title">{{ comment.user }}</h5>
                <p class="card-text"><small class="text-muted">{{ comment.timestamp }}</small></p>
                <p class="card-text">{{ comment.content }} <a href="{% url 'comments:detail' comment.id %}"
                                                              class="ml-3">Reply</a></p>
                <label style="color:cornflowerblue;" id="show-childs-comments" class="ml-3">{{ comment.childs.count }} Replays</label>
                <div class="comment-childs-div">
                {% for child in comment.childs.all %}
                    <div class="card small m-2" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ child.user }}</h5>
                            <p class="card-text"><small class="text-muted">{{ child.timestamp }}</small></p>
                            <p class="card-text">{{ child.content }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% if 'comments/detail' in request.path %}
                    {% include 'comments/create-child.html' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.comment-childs-div').hide();
            $('#show-childs-comments').click(function (e) {
                $('.comment-childs-div').toggle();
            })
        });
    </script>
{% endblock %}